@import "reset.css";
html,
body {  
  margin: 0;
  padding: 0;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
.content{
  display: flex;  
  align-items: center;
  flex-direction: column;
}

div{display: block;}

input{
  border:none;
  background-color: transparent;
  border-bottom: 3px solid #ecf0f1;
  color: white;
  font-size: 36px;
}

input:focus {outline:none;}

.js-clock{
  font-size: 10em;
  margin-bottom: 30px;
}

.js-welcome{
  font-size: 36px;
}

.js-toDoForm{
  margin-top: 30px;
  margin-bottom: 20px;
}

.Todo {
  font-size: 30px;
  margin-bottom: 10px;
}

.Todo:last-child{
  margin-bottom: 30px;
}
.js-weather{
    position: fixed;
    top: 20px;
    margin: 0 auto;
    right: 10px;
    font-size: 22px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to{
      opacity: 1;
      transform:none;
  }
}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}